type file
id PathfinderAttackSimulator
title
    PathfinderAttackSimulator
owners
    Kevin Frey
authors 
    Kevin Frey
projectUrl
    https://github.com/Freymaurer/PathfinderAttackSimulator
iconUrl
    https://raw.githubusercontent.com/Freymaurer/PathfinderAttackSimulator/master/docs/files/img/logo.png
licenseUrl
    https://github.com/Freymaurer/PathfinderAttackSimulator/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
language
    F#
copyright
    Copyright 2017
tags
    pathfinder f# fsharp attack simulator calculator
summary
    An automatic calculator for both standard and full round attack actions, based on a library of modifications, weapons and characters.
description
    An automatic calculator for both standard and full round attack actions, based on a library of modifications, weapons and characters.

files
	../../bin/PathfinderAttackSimulator ==> lib
